*.pyc
*.pyd
*.dylib
*.so
*.whl
*.xlsx
*.onnx
*.png
*.csv
*.xlsx
*.sarif
dist/*
build/*
.eggs/*
*egg-info/*
dump_dort/*
onnxruntime_profile*
plot_*.txt
docs/auto_examples/*
docs/sg_execution_times.rst
docs/examples/_cache/*
docs/examples/onnxruntime_profile*
docs/examples/plot_*.png
docs/examples/plot_*.xlsx
docs/examples/data/*.optimized.onnx
docs/examples/*.html
docs/_static/require.js
docs/_static/viz.js
docs/LICENSE
docs/CHANGELOGS.rst
