black
furo
matplotlib
mypy
git+https://github.com/microsoft/onnxscript.git
openpyxl
packaging
pandas
Pillow
psutil
pytest
pytest-coverage
ruff
sphinx
sphinx-gallery
sphinx-issues
sphinx-runpython
transformers
tqdm
wheel
